[submodule "modules/csv"]
	path = csv
	url = https://github.com/IlleNilsson/xmip-core-contract-csv.git
[submodule "xmip-core-contract-dotnet"]
	path = dotnet
	url = https://github.com/IlleNilsson/xmip-core-contract-dotnet.git
[submodule "xmip-core-contract-json-schema"]
	path = json-schema
	url = https://github.com/IlleNilsson/xmip-core-contract-json-schema.git
[submodule "xmip-core-contract-xml-schema"]
	path = xml-schema
	url = https://github.com/IlleNilsson/xmip-core-contract-xml-schema.git
[submodule "xmip-core-contract-regex"]
	path = regex
	url = https://github.com/IlleNilsson/xmip-core-contract-regex.git
[submodule "xmip-core-contract-schematron"]
	path = schematron
	url = https://github.com/IlleNilsson/xmip-core-contract-schematron.git
[submodule "xmip-core-contract-fixed-width"]
	path = fixed-width
	url = https://github.com/IlleNilsson/xmip-core-contract-fixed-width.git
[submodule "xmip-core-contract-edi-edifact"]
	path = edi-edifact
	url = https://github.com/IlleNilsson/xmip-core-contract-edi-edifact.git
