[submodule "modules/csv"]
	path = csv
	url = https://github.com/IlleNilsson/xmip-core-contract-csv.git
[submodule "xmip-core-contract-dotnet"]
	path = dotnet
	url = https://github.com/IlleNilsson/xmip-core-contract-dotnet.git
[submodule "xmip-core-contract-json-schema"]
	path = json-schema
	url = https://github.com/IlleNilsson/xmip-core-contract-json-schema.git
[submodule "xmip-core-contract-xml-schema"]
	path = xml-schema
	url = https://github.com/IlleNilsson/xmip-core-contract-xml-schema.git
[submodule "xmip-core-contract-regex"]
	path = regex
	url = https://github.com/IlleNilsson/xmip-core-contract-regex.git
[submodule "xmip-core-contract-schematron"]
	path = schematron
	url = https://github.com/IlleNilsson/xmip-core-contract-schematron.git
[submodule "xmip-core-contract-fixed-width"]
	path = fixed-width
	url = https://github.com/IlleNilsson/xmip-core-contract-fixed-width.git
[submodule "xmip-core-contract-edi-edifact"]
	path = edi-edifact
	url = https://github.com/IlleNilsson/xmip-core-contract-edi-edifact.git
[submodule "xmip-core-contract-c"]
	path = c
	url = https://github.com/IlleNilsson/xmip-core-contract-c.git
[submodule "xmip-core-contract-cpp"]
	path = cpp
	url = https://github.com/IlleNilsson/xmip-core-contract-cpp.git
[submodule "xmip-core-contract-go"]
	path = go
	url = https://github.com/IlleNilsson/xmip-core-contract-go.git
[submodule "xmip-core-contract-java"]
	path = java
	url = https://github.com/IlleNilsson/xmip-core-contract-java.git
[submodule "xmip-core-contract-python"]
	path = python
	url = https://github.com/IlleNilsson/xmip-core-contract-python.git
[submodule "xmip-core-contract-rust"]
	path = rust
	url = https://github.com/IlleNilsson/xmip-core-contract-rust.git
[submodule "xmip-core-contract-hl7-v2"]
	path = hl7-v2
	url = https://github.com/IlleNilsson/xmip-core-contract-hl7-v2.git
[submodule "xmip-core-contract-fhir"]
	path = fhir
	url = https://github.com/IlleNilsson/xmip-core-contract-fhir.git
[submodule "edi-x12"]
	path = edi-x12
	url = https://github.com/IlleNilsson/xmip-core-contract-edi-x12.git
[submodule "avro"]
	path = avro
	url = https://github.com/IlleNilsson/xmip-core-contract-avro.git
[submodule "graphql-schema"]
	path = graphql-schema
	url = https://github.com/IlleNilsson/xmip-core-contract-graphql-schema.git
[submodule "protobuf"]
	path = protobuf
	url = https://github.com/IlleNilsson/xmip-core-contract-protobuf.git
[submodule "wsdl"]
	path = wsdl
	url = https://github.com/IlleNilsson/xmip-core-contract-wsdl.git
[submodule "openapi"]
	path = openapi
	url = https://github.com/IlleNilsson/xmip-core-contract-openapi.git
[submodule "asyncapi"]
	path = asyncapi
	url = https://github.com/IlleNilsson/xmip-core-contract-asyncapi.git
[submodule "sql"]
	path = sql
	url = https://github.com/IlleNilsson/xmip-core-contract-sql.git
